body {
    background-color: gainsboro;
    
}
.parent {
    height:100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    font-family: monospace;
}

#container {
    margin: auto;
    height: 800px;
    padding: 10px;

}

#vertical-align {
    background-color: azure;
    position: relative;
    border: 3px solid grey;
    padding: 10px;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    box-shadow: 4px 4px;
}

