


#container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#centertitle {
    text-align: center;
    font-size: 5rem;
}

#main {
    width: 60%;
    margin: auto;
    margin-top: 50%;

}

#nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#nav p {
    display: inline;
    padding: 20px;
    font-size: 1.5rem;
}
